<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">add displayForms</p>
  <a href="/displayForms/add" class="btn btn-dark btn-lg">add idea</a>
</div>
{{#each displayForms}}
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a class="btn btn-dark btn-block" href="/displayForms/edit/{{id}}">Edit</a>
  <form method="post" action="/displayForms/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger btn-block" value="Delete">
  </form>
</div>
{{else}}
{{/each}}